<div>
    <main class='principal'>
    	<section class="accueil">
	    	<h1>Gestion de membre</h1>
	    	<h2>Technique d'Integration Multimedia</h2>
	    	<h3>Remise : 23 Mars 2018</h3>
	    	<p>Projet utilisant Node.js, Express et MongoDB pour développer une application Web de gestion de membres</p>
    	</section>
    </main>
</div>	

