<link rel="stylesheet" type="text/css" href="/html/css/styles.css" />
 <body>
 <form class="formAjout" action = "http://127.0.0.1:8081/accueil" method = "POST">
 Prénom: <input type = "text" name = "prenom" class="ajout"> <br>
 Nom: <input type = "text" name = "nom" class="ajout"> <br>
 Téléphone: <input type = "text" name = "telephone" class="ajout"> <br>
 <input type = "submit" value = "Enregistrer">
 </form>