<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Projet Veille Node</title>
 <link rel="stylesheet" type="text/css" href="/html/css/styles.css">
 <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
 <script src="socket.io/socket.io.js"></script>
</head>